:root {
  --grid-cell: 100px;
  --marker: calc((var(--grid-cell) * 0.9));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#board-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, var(--grid-cell));
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow-y: hidden;
}

.cell {
  border: 1px solid black;
  width: var(--grid-cell);
  height: var(--grid-cell);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(3n-2) {
  border-left: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell.cell:nth-child(7) {
  border-bottom: none;
}

/* markers setup */

.cell.x-marker,
.cell.o-marker {
  cursor: not-allowed;
}

.cell.x-marker::before,
.cell.x-marker::after,
.cell.o-marker::before {
  background-color: black;
}

.board-container.x-marker .cell:not(.x-marker):not(.o-marker):hover::before,
.board-container.x-marker .cell:not(.x-marker):not(.o-marker):hover::after,
.board-container.o-marker .cell:not(.x-marker):not(.o-marker):hover::before {
  background-color: lightgrey;
}

.cell.x-marker::before,
.cell.x-marker::after,
.board-container.x-marker .cell:not(.x-marker):not(.o-marker):hover::before,
.board-container.x-marker .cell:not(.x-marker):not(.o-marker):hover::after {
  content: '';
  width: calc(var(--marker) * 0.15);
  height: var(--marker);
  position: absolute;
}

.cell.x-marker::before,
.board-container.x-marker .cell:not(.x-marker):not(.o-marker):hover::before {
  transform: rotate(45deg);
}

.cell.x-marker::after,
.board-container.x-marker .cell:not(.x-marker):not(.o-marker):hover::after {
  transform: rotate(-45deg);
}

.cell.o-marker::before,
.cell.o-marker::after,
.board-container.o-marker .cell:not(.x-marker):not(.o-marker):hover::before,
.board-container.o-marker .cell:not(.x-marker):not(.o-marker):hover::after {
  content: '';
  border-radius: 50%;
  position: absolute;
}

.cell.o-marker::before,
.board-container.o-marker .cell:not(.x-marker):not(.o-marker):hover::before {
  width: var(--marker);
  height: var(--marker);
}

.cell.o-marker::after,
.board-container.o-marker .cell:not(.x-marker):not(.o-marker):hover::after {
  background-color: white;
  width: calc(var(--marker) * 0.7);
  height: calc(var(--marker) * 0.7);
}

.end-screen {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

#message {
  font-size: 4rem;
  color: white;
  font-weight: 900;
}

#reset-button {
  font-size: 3rem;
  border-radius: 20px;
  width: 200px;
  height: 80px;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 2px solid black;
}

#reset-button:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}
